/* Container */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

@font-face {
    font-family: AvenirNext-Regular;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}
@font-face {
    font-family: AvenirNext-Bold;
    src: url(fonts/AvenirNextLTPro-Bold.otf);
}
@font-face {
    font-family: Quicksand-Light;
    src: url(fonts/Quicksand-Light.otf);
}


body {
  /*width: 100%;*/
  margin: 0!important;
  background-color: #fff;
}

a {
  color: inherit;
  text-decoration: inherit;
}
*:focus {
    outline: none;
}

@media only screen and (min-width: 2000px) {
  .container {
    padding-right: 150px!important;
    padding-left: 150px!important;
  }
}


@media only screen and (max-width: 1000px) {
  .container {
    padding-right: 5px!important;
    padding-left: 5px!important;
  }
  .header .container, .menu.container {
    padding-right: 90px!important;
    padding-left: 90px!important;
  }
}

.container {
  padding-right: 90px;
  padding-left: 90px;
  margin-right: 0!important;
  margin-left: 0!important;
}
/* Text */
h1, h2, h3, h4, h5, p, span, li, input, button {
  font-family: 'Lato', sans-serif;
  color: #464949;
  /*color: #555;*/
}

/* Menu */
@media only screen and (max-width: 1000px) {
  .menu {
    height: 10vh!important;
  }
  .menu-left {
    width: 30%!important;
  }
  .menu-right {
    width: 70%!important;
  }
  .logo {
    width: 200px!important;
  }
  li {
    font-size: 26px!important;
  }
}

.menu {
  height: 20vh;
  display: flex;
  align-items: center;
/*  background-color: #fff;
*/}
.menu-left {
  width: 50%;
  float: left;
}
.menu-right {
  width: 50%;
  float: right;
  text-align: right;
  position: relative;
  z-index: 10;
}

.logo {
  width: 150px;
}

ul {
  list-style-type: none;
  margin: 0!important;
  padding: 0!important;
}
.menu-left li {
  margin-left: 0!important;
}
.menu-right li {
  display: inline;
  margin-left: 10%;
}
.footer-left li {
  display: inline;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  width: 100%;
}
/*li:hover, a:hover {
  cursor: pointer;
}*/
.title {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

h3 {
  font-size: 30px;
  color: #464949;
  font-family: AvenirNext-Regular;
  font-weight: 500;
}
.light {
  color: #fff;
}

/* Header */
@media only screen and (max-width: 1000px) {
  .header {
    height: 40vh!important;
  }
  .header-right, .header-bg {
    display: none;
  }
  .header-left {
    width: 100%!important;
  }
  h1 {
    font-size: 62px!important;
  }
  h2 {
    font-size: 48px!important;
  }
  .header .form-wrapper {
    height: 100px!important;
  }
  .form-wrapper .btn-main {
    font-size: 28px!important;
  }
  .header .header-title-proof {
    font-size: 26px!important;
  }
  .header .header-title-proof img {
    width: 115px!important;
    margin-left: 20px!important;
    margin-right: 20px!important;
  }
}

.header {
  height:80vh;
  display: flex;
  align-items: center;
/*  background-color: #fff;
*/  position: relative;
  z-index: 1;
}

.allhead {
  background-image: url("img/bgtest.jpg?v=2"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 700px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
.header-bg {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 80;
  z-index: -1;
}
.header-left {
  margin-top: -50px;
  width: 50%;
  float: left;
}
.header-right {
  margin-top: -50px;
  width: 50%;
  float: right;
  text-align: right;
}
.header-right img {
  width: 80%;
}
.mobile-only {
  display: none;
}

.header h1 {
  font-family: AvenirNext-Bold;
  font-size: 42px;
  color: #464949;
}
.header .header-title-proof {
  display: flex;
  align-items: center;
  width: 100%;
}

.header .header-title-proof p {
  color: #cecece!important;
}
.inp-logo {
  margin-bottom: -7px;
}
.header .header-title-proof img {
  width: 60px;
  margin-left: 10px;
  margin-right: 10px;
}
.header span p {
  margin-top: -30px;
}
.header h2 {
  font-family: AvenirNext-Regular;
  font-size: 32px;
  font-weight: 300;
  color: #464949;
}
.header .form-wrapper {
  display: flex;
  align-items: center;
  width: 100%!important;
  height: 70px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.19);
  padding-right: 7px;
}
.header .form-wrapper input {
  float: left;
  width:70%;
  height: 70px;
  border: none;
  font-size: 36px;
  border-radius: 8px;
  margin-left: 10px;
}
.header .form-wrapper .btn-main {
  float: right;
  width:30%;
  background-color: #F7CA18;
  border: none;
  color: #fff;
  border-radius: 8px;
  height: 80%;
  font-size: 14px;
}


/* Testimonials */
@media only screen and (max-width: 1000px) {
  .testimonials {
    margin-top: 0!important;
  }
  .testimonials {
    justify-content: space-around!important;
  }
  .testimonial .card-top-container {
    margin-bottom: 80px!important;
  }

  .testimonial .card-content {
    padding-top: 145px!important;
    text-align: left!important;
  }

  .testimonial .card-subtitle {
    font-size: 20px!important;
    margin-bottom: 0!important;
  }
  .testimonial .card-subtitle img{
    margin-top: 12px;
    width: 125px!important;
  }
}

.testimonials {
  margin-top: -130px;
}

.testimonial {
  padding-bottom: 0!important;
}

.testimonial .card-top {

}

.testimonial .card-top-left {
  float: left;
  width: 30%;
}

.testimonial .card-top-right {
  float: right;
  width: 70%;
}

.testimonial .card-logo {
  height: auto!important;
  width: auto!important;
  margin-bottom: 0!important;
}

.testimonial .card-top-container {
  margin-bottom: 30px;
}

.testimonial .card-content {
  height: 300px!important;
  padding-top: 50px;
  text-align: left!important;
}

.testimonial .card-subtitle {
  font-size: 10px;
  margin-bottom: 0!important;
}

.testimonial .card-title, .testimonial .card-subtitle, .testimonial .card-subtitle p {
  text-align: left;
}
.testimonial .card-title, .testimonial .card-subtitle {
  padding-left: 15px;
}

.testimonial .card-subtitle p{
  margin-bottom: 5px!important;
}

.testimonial .card-subtitle img{
  margin-top: 3.5px;
  width: 50px;
}

/* Services */
@media only screen and (max-width: 1000px) {
  .service-container, .team-container {
    padding: 15px!important;
    width: 80%!important;
  }
  .team-section-wrapper {
    margin-top: -3000px!important;
  }
  .team-section {
    padding-top: 3000px!important;
  }

}

.testimonials {
  display: flex;
  justify-content: flex-start;
  -webkit-flex-flow: row wrap;

  padding-top: 80px;
}

.services, .teams {
  margin-top: -80px;
  display: flex;
  justify-content: space-around;
  -webkit-flex-flow: row wrap;

  padding-top: 80px;
}
.services {
  background: url(img/services-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  padding-bottom: 90px;
}
.team-section-wrapper {
  background: url(img/team-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  margin-top: -800px;
}
.team-section {
  padding-top: 800px;
}
.teams, .testimonials {
  padding-bottom: 100px;
}
.service-container, .team-container {
  padding: 15px;
  width: 30%;
}
.service, .team {

}
.team-no-content {
  height: auto!important;
}
/* Cards */
@media only screen and (max-width: 1000px) {
  .card {
    padding: 50px!important;
  }
  .card-content {
    text-align: center;
    margin-bottom: 30px;
    height: auto!important;
    padding-left: 35px;
    padding-right: 35px;
  }
  .card-content p {
    font-size: 28px!important;
  }
  .card-logo {
    width: 250px!important;
    height: 250px!important;
  }
  .card-title {
    font-size: 36px!important;
    margin-top: 50px!important;
    margin-bottom: 50px!important;
  }
  .card-subtitle img {
    width: 50px!important;
  }
  .btn {
    width: 60%!important;
    height: 90px!important;
    font-size: 28px!important;
    /*background-color: #fff!important;*/
    /*border: 1px solid #cecece!important;*/
  }
  .card .btn {
    background-color: #fff!important;
    border: 1px solid #cecece!important;
  }
  .card-top {
    height: 20px!important;
  }
}


.team .card-title {
  margin-bottom: 23px!important;
}
.card-title p {
  font-family: AvenirNext-Regular;
  font-weight: 500;
}

.card {
  /*border: 1px solid #fafafa;*/
  box-shadow: 0 2px 8px rgba(0,0,0,.09);
  border-radius: 8px;
  overflow: hidden;
  background: #fff;

  padding-bottom: 50px;
  padding-top: 50px;
  padding-right: 50px;
  padding-left: 50px;

  position: relative;
}

.team .card-logo img {
  width: 100% !important;
  border-radius: 50%;
}

.card-logo {
  background-color: #fafafa;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%!important;
  border: 3px solid #fff!important;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
  width: 120px;
  height: 120px;

  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  margin-bottom: 30px;
}
.card-top {
  height: 10px;
  background-color: #6BB9F0;
  border-color: #6BB9F0;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}
.blue {
  background-color: #6BB9F0;
}
.yellow {
  background-color: #F7CA18;
}
.card-logo img {
  width: 75%;
}
.card-title {
  text-align: center;
  margin-bottom: 30px;
}
.card-subtitle {
  margin-bottom: 10px;
  text-align: center;
}
.card-subtitle img {
  text-align: center;
  width: 20px;
}

.card-subtitle p {
  text-align: center;
  margin-top: -20px;
  margin-bottom: 15px;
  color: #bcbcbc;
}
.service .card-content {
  text-align: center;
  margin-bottom: 30px;
  height: 180px;
}
.team .card-content {
  text-align: center;
  margin-bottom: 30px;
  height: 200px;
}

.card-content p {
  line-height: 1.3;
  font-size: 14px;
}
.card-cta {
  text-align: center;
  /*margin-bottom: 30px;*/
}
.btn {
  width: 60%;
  height: 50px;
  padding: 36px 0;
  margin:none;
  border-radius: 40px;
  font-size: 20px;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
  padding: 0;
  list-style: none;
  display: inline-block;
  border: 1px solid #cecece;
  /*box-shadow: 0 2px 8px rgba(0,0,0,.09);*/
}
.btn:hover {
  /*box-shadow: 0 2px 8px rgba(0,0,0,.19);*/
}

/* Who We Are */
.whoweare {
  padding-bottom: 0px;
}
.who-card-wrapper {
  position: relative;
  background-color: #fff;
  border: none;
}
.who-bg {
  position: absolute;
  bottom: 0;
}
.who-bg img {
  width: 100%;
  z-index: -1;
}

.whoweare .cta {
  text-align: center;
  padding-bottom: 40px;
}
.whoweare .cta button {
  position: relative;
  z-index: 1;
  width: 40%;
}
.btn-yellow {
  background-color: #F7CA18;
  border: none;
  color: #fff;
}
.who-card-wrapper {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.19);
}
.who-card-top {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #6BB9F0;
  height: 20px;
}
.who-card-content {
  padding: 75px;
}
.who-card-content p {
  line-height: 1.5;
}
.who-card-content span {
  font-weight: bold;
}
/* Team */
.team-section {

}

/* About */
.about {
  text-align: center;
  background-color: #fafafa;
  padding-bottom: 50px;
}
.about img {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*.about .cta, .teams-container .cta {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}*/
.about .cta .btn {
  width: 200px;
}
.end .cta {
/*  padding-top: 0px!important;
*/}
.about img {
  width: 350px;
}
/* Footer */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 7%;
  padding-right: 7%;
  /*text-align: center;*/
  background-color: #2e3131;
/*  height: 40%;
  min-height: 100%;*/
}
footer p, .footer-right li a {
  color: #ececec;
  margin-top: 15px;
}

.footer-right li {
  margin-top: 17px;
}

footer li img {
  width: 40px;
}
footer ul {
  margin-top: 20px;
  margin-bottom: 40px;
}
footer img {
  width: 200px;
}
.footer-logo {
  margin-top: 20px;
}

.footer-left {
  float: left;
  width: 50%;
  height: auto;
}

.footer-right {
  float: right;
  width: 50%;
  text-align: right;
  height: auto;
}

